<h1>Listing dessert_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dessert_types.each do |dessert_type| %>
      <tr>
        <td><%= dessert_type.type %></td>
        <td><%= link_to 'Show', dessert_type %></td>
        <td><%= link_to 'Edit', edit_dessert_type_path(dessert_type) %></td>
        <td><%= link_to 'Destroy', dessert_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dessert_type', new_dessert_type_path %>
