    <h1>Listing kofis</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kofis.each do |kofi| %>
      <tr>
        <td><%= kofi.name %></td>
        <td><%= link_to 'Show', kofi %></td>
        <td><%= link_to 'Edit', edit_kofi_path(kofi) %></td>
        <td><%= link_to 'Destroy', kofi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kofi', new_kofi_path %>
