<div class="row">
  <h1><%= @recipe.name %></h1>
  <div class="col-md-3">
    <form method="post" action="#">
      <div class="input-group">
        <input type="text" placeholder="Search blog..." class="form-control c-square c-theme-border">
        <span class="input-group-btn">
        <button type="button" class="btn c-theme-btn c-theme-border c-btn-square">Go!</button>
        </span>
      </div>
    </form>
  </div>
  <div class="col-md-9">
    <p>
      <strong>Description:</strong>
      <%= @recipe.description %>
    </p>

    <p>
      <strong>Ingredients:</strong>
      <%= @recipe.ingredients %>
    </p>

    <p>
      <strong>Image:</strong>
      <%= image_tag @recipe.image.url(:thumb, class: "recipe_image") %>
    </p>
    <% if logged_in? %>
      <% if @recipe.author_id == current_author.id %>
        <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
      <% end %>
    <% end %>
    <%= link_to 'Back', recipes_path %>

    <h2>Comments</h2>

    <div id="comments">
      <% if @comments.count > 0 %>
        <% @comments.each do |c| %>
          <p>"<%= c.content %>" - <%= c.name %></p>
        <% end %>
      <% end %>
    </div>

    <h1>Add Comments</h1>
    <%= render "comments/new_form" %>

  </div>
</div>