<div class="row page-title-heading">
  <h1 class="text-center">Create Account</h1>
</div>

<div class="row">
  <%= form_for @author, :html => {:class => 'form-horizontal'} do |f| %>
  <fieldset>

  <%= render 'shared/error_messages' %>
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="author_name">Author Name</label>  
    <div class="col-md-4">
    <%= f.text_field :name, placeholder: "Full Name", class: "form-control input-md" %>
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="username">Username</label>  
    <div class="col-md-4">
    <%= f.text_field :username, placeholder: "Username", class: "form-control input-md" %>
    </div>
  </div>
  
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="author_email">Email</label>  
    <div class="col-md-4">
    <%= f.email_field :email, placeholder: "Email", class: "form-control input-md" %>
    </div>
  </div>
  
  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="author_password">Password</label>
    <div class="col-md-4">
      <%= f.password_field :password, placeholder: "Password", class: "form-control input-md" %>
    </div>
  </div>
  
  <!-- Select Basic 
  <div class="form-group">
    <label class="col-md-4 control-label" for="author_expertise">Expertise</label>
    <div class="col-md-4">
      <select id="author_expertise" name="author_expertise" class="form-control">
        <option value="Yes">Select Expertise</option>
        <option value="No">Chef</option>
        <option value="">Non Chef</option>
      </select>
    </div>
  </div>
  -->
  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="author_bio">Profile</label>
    <div class="col-md-4">                     
      <%= f.text_area :bio, placeholder: "Enter Profile Details", class: "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <label class="col-md-4 control-label" for=""></label>
    <div class="col-md-4">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  </div>
  
  </fieldset>
  <% end %>
</div>