<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>bio:</strong>
  <%= @author.bio %>
</p>
<p>
  <strong>username:</strong>
  <%= @author.username %>
</p>
<p>
  <strong>email:</strong>
  <%= @author.email %>
</p>

<h2>User Posts - <%= @author.id %></h2>

<% if @recipes.count > 0 %>
  <% @recipes.each do |r| %>
    <p><%= r.name %></p>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>