<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>bio:</strong>
  <%= @author.bio %>
</p>
<p>
  <strong>username:</strong>
  <%= @author.username %>
</p>
<p>
  <strong>email:</strong>
  <%= @author.email %>
</p>

<h2>Recipes for - <%= @author.name %></h2>

<% if @recipes.count > 0%>
    <%= render "recipes/recipe_index" %>
<% else %>
    <p><%= "No Recipes Exist for #{@author.name}" %></p>
<% end %>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>